<h1>Radio Theater</h1>
<div class="form">
  <label for="jsonSelector">Participants:</label>
  <select id="jsonSelector">
    @for(file of scriptFiles; track $index){
    <option [value]="file.name" (click)="selected.set(file.file)">
      {{ file.name }}
    </option>
    }
  </select>
</div>
@if(scriptData()){
<div id="script-container">
  <div class="scene-container">
    <h3>Characters Presentation</h3>
    @for(char of scriptData()?.characters; track $index){
    <p [class]="'character-line character-' + ($index + 1)">
      {{ char }}
    </p>
    }
  </div>
  @for(scene of scenes(); track $index){
  <div class="scene-container">
    <h3>Scena N° {{ $index + 1 }}: {{ scene.title }}</h3>

    @for(dialogue of scene.dialogues; track $index){
    <div [class]="'character-line character-' + ($index + 1)">
      <div class="speaker">{{ caracters()[dialogue.characterIndex - 1] }}:</div>
      {{ dialogue.line }}
    </div>
    }
  </div>
  }
</div>
}
