.scene-container {
  max-width: 800px;
  margin: auto;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: left;
}

.character-line {
  margin: 1rem 0;
}

.character-1 {
  color: #3498db;
}
.character-2 {
  color: #e74c3c;
}
.character-3 {
  color: #2ecc71;
}
.character-4 {
  color: #f39c12;
}
.character-5 {
  color: #9b59b6;
}
.character-6 {
  color: #16a085;
}
.character-7 {
  color: #c0392b;
}
.character-8 {
  color: #d35400;
}
.character-9 {
  color: #8e44ad;
}
.character-10 {
  color: #27ae60;
}
.character-11 {
  color: #2980b9;
}
.character-12 {
  color: #e67e22;
}

#jsonSelector {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
}

.form {
  padding: 2rem;
}
.speaker {
  font-weight: bold;
}
