<select id="jsonSelect">
  <option value="car.json" (click)="selectedJson.set('car.json')">Car</option>
  <option value="men.json" (click)="selectedJson.set('men.json')">Men</option>
  <option value="women.json" (click)="selectedJson.set('women.json')">
    Women
  </option>
  <option value="office.json" (click)="selectedJson.set('office.json')">
    Office
  </option>
</select>

@if(carJson()){
<div id="carContainer">
  <img
    [src]="'./assets/vocabulary/' + carJson()?.imageSrc"
    alt="Car Image"
    [style]="
      'width:{{carJson.imageWidth}}px;height:' +
      carJson()?.imageHeight +
      'px;position: absolute;'
    "
  />
  @for(part of carJson()?.parts; track $index){
  <input
    type="text"
    class="part-input"
    [title]="part.name"
    [style.top]="part.position.top + 'px'"
    [style.left]="part.position.left + 'px'"
  />
  }
</div>
}
