<h3>How do you draw it without getting the pencil up?</h3>
<div>
  <img src="./assets/howdoyoudraw/house.png" alt="house" class="center" />
</div>
<div>
  <img src="./assets/howdoyoudraw/triangle.png" alt="triangle" class="center" />
</div>
<div>
  <img
    src="./assets/howdoyoudraw/fivepointsstar.png"
    alt="unders construction"
    class="center"
  />
</div>
<div>
  <img src="./assets/howdoyoudraw/bridge.png" alt="bridge" class="center" />
</div>
<div>
  <img src="./assets/howdoyoudraw/doble-house.png" alt="doble house" class="center" />
</div>