<div id="form" class="form">
  <label for="storySelector">Select Story:</label>
  <select>
    <option
      *ngFor="let story of stories; index as i"
      [value]="i"
      (click)="selected.set(story)"
    >
      {{ story }}
    </option>
  </select>

  <div id="input-container" *ngIf="story()?.inputs as inputs">
    <div *ngFor="let input of inputs" class="row">
      <label for="{{ input.id }}"> {{ input.label }}: </label>
      <input
        type="text"
        [id]="input.id"
        [placeholder]="input.default"
        [value]="input.default"
        (change)="onChangeValue($event, input.id)"
      />
    </div>
    <button id="show-story" (click)="showText.set(!showText())">
      Show Story
    </button>
  </div>
</div>

<div id="result" *ngIf="showText()" [innerHTML]="text()"></div>
