ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

li {
  background-color: #611;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  width: 50%;
}

.hidden {
  display: none;
}
